<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyc.yumengpush">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <meta-data
            android:name="5ba9e002b465f55a37000545"
            android:value="28ad38ed866dedc65afed1326aaa65e9" />
        &lt;!&ndash; Channel ID用来标识App的推广渠道，作为推送消息时给用户分组的一个维度。&ndash;&gt;
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="weicai" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="xxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
        &lt;!&ndash; Channel ID用来标识App的推广渠道，作为推送消息时给用户分组的一个维度。&ndash;&gt;
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
        -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TwoActivity"></activity>
    </application>

</manifest>